####################################################
# Terraform
####################################################

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

####################################################
# Terraform Variables (Contains Secrets)
####################################################

**/terraform.tfvars
*.auto.tfvars

####################################################
# SSH Keys
####################################################

*.pem
*.ppk

####################################################
# Environment Variables
####################################################

.env
.env.*

####################################################
# Node.js
####################################################

node_modules/
npm-debug.log*

####################################################
# Logs
####################################################

*.log

####################################################
# VS Code
####################################################

.vscode/

####################################################
# macOS
####################################################

.DS_Store

####################################################
# Windows
####################################################

Thumbs.db

# Terraform plan files
*.tfplan
tfplan